<h1>Seahawks Player Info</h1>
<hr>
<h2>Player Data For Number - <%= Seahawks.number %> :</h2> 
<hr>
<h3>Name - <%= Seahawks.name %> <br> </h3>
<h3>Jersey Number - <%= Seahawks.number %> <br> </h3>
<h3>Position - <%= Seahawks.position %> <br> </h3>
<h3>Year - <%= Seahawks.year %> <br> </h3>

<a href="/">Home</a>