<h1>Seahawks Player Info</h1>
<hr>
<h2>Player Data For Number <%= number %> :</h2> 
<h3>Name - <%= name %> <br> </h3>
<h3>Jersey Number - <%= number %> <br> </h3>
<h3>Position - <%= position %> <br> </h3>
<h3>Year - <%= year %> <br> </h3>

<a href="/">Home</a>